<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Datasets')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3">
        <div class="col-md-9">
            <h1>Recursos</h1>
        </div>
        <div class="col-md-3 text-right pt-1">
            <a th:href="@{${addNewContainerLink}}" class="btn-icon add-container-btn btn btn-success">
                <i class="material-icons">add</i>
                Nuevo recurso
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="table-container">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"># datos</th>
                <th scope="col">Origen</th>
                <th scope="col">URL</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dataContainer : ${dataContainers}">
                <td th:text="${dataContainer.name}"></td>
                <td th:text="${dataContainer.dataCount}"></td>
                <td th:text="${dataContainer.originType}"></td>
                <td><a th:href="${dataContainer.sourceUrl}" th:text="${dataContainer.sourceUrl}" class="link"
                       target="_blank"></a></td>
                <td class="text-right">
                    <a href="" class="btn btn-icon btn-table edit-color" data-toggle="tooltip" data-placement="left" title="Editar">
                        <i class="material-icons">create</i>
                    </a>
                    <a href="" class="btn btn-icon btn-table delete-color" data-toggle="tooltip" data-placement="left" title="Eliminar">
                        <i class="material-icons">delete</i>
                    </a>
                    <a href="" class="btn btn-icon btn-table visualize-color" data-toggle="tooltip" data-placement="left" title="Visualizar"
                       th:href="@{|/container/${dataContainer.id}|}">
                        <i class="material-icons">search</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>