<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${dataContainer.name})"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">
    <div class="row mt-3 pb-2">
        <div class="col-12">
            <h1 th:text="${dataContainer.name}"></h1>
        </div>
    </div>

    <div class="data-tree-controls row mb-3">
        <div class="col-12">
            <a th:classappend="${#strings.equals(currentTree, '/') ? 'disabled' : ''}" th:href="@{${containerUrl}(tree=${previousTreeUrl},navigating=true)}" class="btn-dark btn">
                <i class="material-icons">arrow_upward</i>
            </a>
            <form th:action="${selectMainDataUrl}" method="post" class="main-data-form">
                <input type="hidden" id="tree" name="tree" th:value="${currentTree}">
                <button id="mainDataBtn" type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Will select this object as the main data">
                    <i th:if="${isMainDataSelected}" class="material-icons">bookmark</i>
                    <i th:unless="${isMainDataSelected}" class="material-icons">bookmark_border</i>
                </button>
            </form>
            <p class="btn btn-outline-dark disabled m-0" th:text="${currentTree}"></p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Property name</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${dataProperties}" th:class="${#strings.contains(property.getValue(), 'Object')} ? 'table-primary' : ''">
                <td th:if="${#strings.contains(property.getValue(), 'Object')}">
                    <a th:href="@{${containerUrl}(tree=${currentTree + property.getKey()},navigating=true)}" th:text="${property.getKey()}"></a>
                </td>
                <td th:unless="${#strings.contains(property.getValue(), 'Object')}" th:text="${property.getKey()}"></td>
                <td th:text="${property.getValue()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>