<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${dataContainer.name})"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3 mb-3 pb-2">
        <div class="col-lg-10">
            <h1 th:text="${dataContainer.name}"></h1>
        </div>
        <div class="col-lg-2">
            <p th:if="${dataContainer.publicContainer}" class="container-active text-lg-right">Público <i
                    class="material-icons">lock_open</i>
            </p>
            <p th:unless="${dataContainer.publicContainer}" class="container-inactive text-lg-right">Privado <i
                    class="material-icons">lock</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="section-border">Información</h2>
            <div class="dropdown tools-button">
                <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Herramientas
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{|/container/edit/${dataContainer.id}/${userToken}|}">Editar</a>
                    <a class="dropdown-item" th:href="@{|/container/duplicate/${dataContainer.id}/${userToken}|}">Duplicar</a>

                    <a class="dropdown-item" th:href="@{|/container/publicToggle/${dataContainer.id}/${userToken}|}"
                    th:if="${dataContainer.publicContainer}">Marcar como privado</a>
                    <a class="dropdown-item" th:href="@{|/container/publicToggle/${dataContainer.id}/${userToken}|}"
                    th:unless="${dataContainer.publicContainer}">Marcar como público</a>

                    <a class="dropdown-item" th:href="@{|/container/edit/columns/${dataContainer.id}/${userToken}|}"
                    th:if="${dataContainer.isDuplicate() || dataContainer.isMerge()}" >Eliminar columnas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="info-item">Editor<span
                    th:text="${dataContainer.publisher == null || dataContainer.publisher.isEmpty() ? 'Anónimo' : dataContainer.publisher}"></span>
            </p>
            <p th:if="${dataContainer.sourceUrl == null || dataContainer.sourceUrl.isEmpty()}" class="info-item">
                Fuente<span>Sin fuente</span></p>
            <p th:unless="${dataContainer.sourceUrl == null  || dataContainer.sourceUrl.isEmpty()}" class="info-item">
                Fuente<span><a th:href="${dataContainer.sourceUrl}" th:text="${dataContainer.sourceUrl}" class="link"
                               target="_blank"></a></span></p>
            <p class="info-item">Tipo</p>
            <div th:if="${dataContainer.isMerge()}">
                <p th:text="${dataContainer.fileType}"></p>
            </div>
            <div th:unless="${dataContainer.isMerge()}">
                <img th:src="@{${T(com.jeeps.smartlandvault.util.TemplateUtils).getFileIcon(dataContainer.fileType)}}"
                    alt="file-type" class="file-icon"/>
                <p class="d-inline-block">Recurso original</p>
            </div>
            <p class="info-item" th:if="${dataContainer.keywords != null}">Palabras clave</p>
            <p class="keywords" th:if="${dataContainer.keywords != null}"><span th:text="${keyword}"
                                      th:each="keyword : ${dataContainer.keywords}"
                                      class="badge badge-pill badge-light mb-1 mr-1 font-weight-normal"></span></p>
        </div>
        <div class="col-md-8">
            <p th:if="${dataContainer.observatory != null}" class="info-item">Observatorio<span><a
                    th:href="${observatoryData.urlObservatorio}" th:text="${observatoryData.titulo}" class="link"
                    target="_blank"></a></span></p>
            <p th:if="${dataContainer.observatory != null}" class="info-item">Año<span
                    th:text="${dataContainer.year}"></span></p>
            <p class="info-item">Licencia<span th:text="${license}"></span>
            </p>
            <p class="info-item">Descripción<span th:text="${dataContainer.description}"></span></p>
        </div>
    </div>
    <div class="row dates-text">
        <div class="col-md-6">
            <p th:text="|Creado en ${T(com.jeeps.smartlandvault.util.TemplateUtils).formatDate(dataContainer.dateCreated)}|"
               class="text-left"></p>
        </div>
        <div class="col-md-6" th:if="${dataContainer.dateUpdated != null}">
            <p th:text="|Última actualización en ${T(com.jeeps.smartlandvault.util.TemplateUtils).formatDate(dataContainer.dateUpdated)}|"
               class="text-right"></p>
        </div>
    </div>

    <div th:if="${inventory != null}" class="mb-5">
        <h2 class="section-border">Metadatos</h2>
        <div class="row">
            <div class="col-lg-6">
                <p class="info-item">Nombre de recurso<span th:text="${inventory.name}"></span></p>
                <p class="info-item"># de columnas<span th:text="${dataContainer.propertyCount}"></span></p>
            </div>
            <div class="col-lg-6">
                <p class="info-item">Ruta de datos<span th:text="${inventory.mainDataProperty}"></span></p>
                <p class="info-item"># de datos<span th:text="${dataContainer.dataCount}"></span></p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <a th:href="@{${browseDataLink}}" class="btn btn-outline-dark d-block w-100">Navegar metadatos</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Columna</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tipo de dato</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${inventory.items}">
                    <td th:text="${item.propertyName}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.dataType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:unless="${inventory != null}" class="mb-5">
        <p>There is no metadata created for this container.</p>
        <p>Please create one by <a th:href="@{${browseDataLink}}" class="link">browsing it's data</a> and selecting the main object
            to track</p>
    </div>

    <h2 class="section-border">Dataset</h2>
    <div th:if="${dataContainer.isMerge()}" class="row mb-5 mt-2">
        <div class="col-md-4">
            <a th:href="@{${rawDataLink}}" target="_blank" class="btn btn-outline-dark d-block w-100">Data Web
                Service</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{${exportExcelUrl}}" class="btn btn-outline-dark d-block w-100">Exportar Excel</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{${exportCsvUrl}}" class="btn btn-outline-dark d-block w-100">Exportar CSV</a>
        </div>
    </div>
    <div th:if="${!dataContainer.isMerge()}" class="row mb-5 mt-2">
        <div class="col-md-6">
            <a th:href="@{${rawDataLink}}" target="_blank" class="btn btn-outline-dark d-block w-100">Data Web
                Service</a>
        </div>
        <div class="col-md-6">
            <a th:href="@{${fileDownloadUrl}}" class="btn btn-outline-dark d-block w-100">Descargar fuente</a>
        </div>
    </div>

    <div class="table-responsive mb-5">
        <table id="dataset-table" class="table hover">
            <thead class="thead-dark">
            <tr>
                <th th:each="column : ${dataContainer.metadata}"
                    th:text="${column.name != null ? column.name : column.propertyName}"></th>
            </tr>
            </thead>
        </table>
    </div>

    <h2 class="section-border">Visualización</h2>
    <div class="mb-5" id="graphs">
        <div class="form-group">
            <label for="graph-type">Tipo de gráfica</label>
            <select name="graph-type" id="graph-type" class="form-control">
                <option value="barChart">Barras</option>
                <option value="lineChart">Líneas</option>
                <option value="pieChart">Pastel</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="dimension">Dimensión</label>
                <select name="dimension" id="dimension" class="form-control">
                    <option th:value="${metadata.propertyName}" th:text="${metadata.propertyName}"
                            th:each="metadata : ${dataContainer.metadata}"></option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label for="metric">Métrica</label>
                <select name="metric" id="metric" class="form-control">
                    <option value="sum">Sumatoria</option>
                    <option th:value="${metadata.propertyName}" th:text="${metadata.propertyName}"
                            th:each="metadata : ${dataContainer.metadata}"></option>
                </select>
            </div>
        </div>
        <button id="update-chart" class="btn btn-primary">Actualizar</button>
        <canvas id="barChart"></canvas>
        <canvas id="lineChart" class=""></canvas>
        <canvas id="pieChart" class=""></canvas>
    </div>

</div>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const dataTablesEndPoint = /*[[${dataTablesEndPoint}]]*/ '';
    const columnsData = /*[[${dataContainer.metadata}]]*/ [];
    const data = /*[[${dataContainer.data}]]*/ [];

    /*]]>*/

    const countValuesRepetitions = (data, val) => {
        let counts = {}
        data.forEach(function (x) {
            counts[x[val]] = (counts[x[val]] || 0) + 1;
        })
        return counts
    }

    const transformToChartData = (repetitions) => {
        let result = {
            labels: [],
            data: []
        }
        Object.entries(repetitions).forEach(([key, value]) => {
            result.labels.push(key);
            result.data.push(value);
        });
        return result;
    }

    $(document).ready(function () {
        // Get column names from metadata
        const columnNames = columnsData.map(column => {
            return {
                data: column.propertyName
            }
        });

        // Create data table
        $.fn.dataTable.ext.errMode = 'none';
        const table = $('#dataset-table').DataTable({
            "sAjaxSource": dataTablesEndPoint,
            "sAjaxDataProp": "",
            "columns": columnNames,
            "dom": 'lBfrtip',
            "buttons": [
                'csv', 'excel', 'pdf', 'print'
            ]
        })

        // Charts
        let currentGraphElement = 'barChart';
        let currentDimension = columnNames[0].data;
        let currentMetric = 'sum';
        let currentChart;

        hideCharts();
        showChart(currentGraphElement)

        // Initial values
        const repetitions = countValuesRepetitions(data, currentDimension);
        const {labels, data: sumValues} = transformToChartData(repetitions);

        // Bar Chart
        let barChartCtx = document.getElementById('barChart').getContext('2d');
        let barChart = new Chart(barChartCtx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: currentDimension,
                    backgroundColor: 'rgba(255, 99, 132, .8)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: sumValues
                }]
            },
            options: {}
        });
        // default chart
        currentChart = barChart;
        // Line Chart
        let lineChartCtx = document.getElementById('lineChart').getContext('2d');
        let lineChart = new Chart(lineChartCtx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: currentDimension,
                    backgroundColor: 'rgba(255, 99, 132, .8)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: sumValues
                }]
            },
            options: {}
        });
        // Pie Chart
        let pieChartCtx = document.getElementById('pieChart').getContext('2d');
        let pieChart = new Chart(pieChartCtx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: currentDimension,
                    backgroundColor: 'rgba(255, 99, 132, .8)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: sumValues
                }]
            },
            options: {}
        });

        $('#update-chart').click(function () {
            updateChart();
        });

        // Charts controls
        const $graphsContainer = $("#graphs");
        $graphsContainer.on('change', '#dimension', function () {
            // Update dimension
            currentDimension = this.value;
        });
        $graphsContainer.on('change', '#metric', function () {
            // Update metric
            currentMetric = this.value;
        });
        $graphsContainer.on('change', '#graph-type', function () {
            // Update graph type
            currentGraphElement = this.value;
            switch (this.value) {
                case 'barChart':
                    currentChart = barChart;
                    break;
                case 'lineChart':
                    currentChart = lineChart;
                    break;
                case 'pieChart':
                    currentChart = pieChart;
                    break;
            }
        });

        const updateChart = () => {
            let aData;
            let aLabels;
            if (currentMetric === 'sum') {
                // Sum repetitions of the column values
                const repetitions = countValuesRepetitions(data, currentDimension);
                const {labels: newLabels, data: newData} = transformToChartData(repetitions);
                aLabels = newLabels;
                aData = newData;
            } else {
                // Get dimension values
                aLabels = data.map(column => column[currentDimension]);
                aData = data.map(column => column[currentMetric]);
            }
            // Change chart
            hideCharts();
            showChart(currentGraphElement)
            // Update chart
            currentChart.data.datasets[0].data = aData;
            currentChart.data.datasets[0].label = currentDimension;
            currentChart.data.labels = aLabels;
            currentChart.update();
        }
    });

    const hideCharts = () => {
        $("#lineChart").hide();
        $("#barChart").hide();
        $("#pieChart").hide();
    }

    const showChart = (chart) => {
        console.log(`#${chart}`)
        $(`#${chart}`).show();
    }
</script>
</body>
</html>