<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${dataContainer.name})"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3 pb-2">
        <div class="col-lg-10">
            <h1 th:text="${dataContainer.name}"></h1>
        </div>
        <div class="col-lg-2">
            <p th:if="${dataContainer.active}" class="container-active text-lg-right">Público <i class="material-icons">check_circle</i>
            </p>
            <p th:unless="${dataContainer.active}" class="container-inactive text-lg-right">Privado <i
                    class="material-icons">check_circle_outline</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="section-border">Información</h2>
            <div class="dropdown tools-button">
                <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Herramientas
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{|/container/edit/${dataContainer.id}|}">Editar</a>
                    <a class="dropdown-item" th:href="@{|/container/duplicate/${dataContainer.id}|}">Duplicar</a>
                    <a class="dropdown-item" th:href="@{|/container/edit/columns/${dataContainer.id}|}"
                    th:if="${dataContainer.isDuplicate() || dataContainer.isMerge()}" >Eliminar columnas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="info-item">Editor<span
                    th:text="${dataContainer.publisher == null || dataContainer.publisher.isEmpty() ? 'Anónimo' : dataContainer.publisher}"></span>
            </p>
            <p th:if="${dataContainer.sourceUrl == null || dataContainer.sourceUrl.isEmpty()}" class="info-item">
                Fuente<span>Sin fuente</span></p>
            <p th:unless="${dataContainer.sourceUrl == null  || dataContainer.sourceUrl.isEmpty()}" class="info-item">
                Fuente<span><a th:href="${dataContainer.sourceUrl}" th:text="${dataContainer.sourceUrl}" class="link"
                               target="_blank"></a></span></p>
            <p class="info-item">Tipo</p>
            <div th:if="${dataContainer.isMerge()}">
                <p th:text="${dataContainer.fileType}"></p>
            </div>
            <div th:unless="${dataContainer.isMerge()}">
                <img th:src="@{${T(com.jeeps.smartlandvault.util.TemplateUtils).getFileIcon(dataContainer.fileType)}}"
                    alt="file-type" class="file-icon"/>
                <p class="d-inline-block">Recurso original</p>
            </div>
            <p class="info-item" th:if="${dataContainer.keywords != null}">Palabras clave</p>
            <p class="keywords" th:if="${dataContainer.keywords != null}"><span th:text="${keyword}"
                                      th:each="keyword : ${dataContainer.keywords}"
                                      class="badge badge-pill badge-light mb-1 mr-1 font-weight-normal"></span></p>
        </div>
        <div class="col-md-8">
            <p th:if="${dataContainer.observatory != null}" class="info-item">Observatorio<span><a
                    th:href="${dataContainer.observatory}" th:text="${observatoryData.titulo}" class="link"
                    target="_blank"></a></span></p>
            <p th:if="${dataContainer.observatory != null}" class="info-item">Año<span
                    th:text="${dataContainer.year}"></span></p>
            <p class="info-item">Licencia<span th:text="${license}"></span>
            </p>
            <p class="info-item">Descripción<span th:text="${dataContainer.description}"></span></p>
        </div>
    </div>
    <div class="row dates-text">
        <div class="col-md-6">
            <p th:text="|Creado en ${T(com.jeeps.smartlandvault.util.TemplateUtils).formatDate(dataContainer.dateCreated)}|"
               class="text-left"></p>
        </div>
        <div class="col-md-6" th:if="${dataContainer.dateUpdated != null}">
            <p th:text="|Última actualización en ${T(com.jeeps.smartlandvault.util.TemplateUtils).formatDate(dataContainer.dateUpdated)}|"
               class="text-right"></p>
        </div>
    </div>

    <div th:if="${inventory != null}" class="mb-5">
        <h2 class="section-border">Metadatos</h2>
        <div class="row">
            <div class="col-lg-6">
                <p class="info-item">Nombre de recurso<span th:text="${inventory.name}"></span></p>
                <p class="info-item"># de columnas<span th:text="${dataContainer.propertyCount}"></span></p>
            </div>
            <div class="col-lg-6">
                <p class="info-item">Ruta de datos<span th:text="${inventory.mainDataProperty}"></span></p>
                <p class="info-item"># de datos<span th:text="${dataContainer.dataCount}"></span></p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <a th:href="@{${browseDataLink}}" class="btn btn-outline-dark d-block w-100">Navegar metadatos</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Columna</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tipo de dato</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${inventory.items}">
                    <td th:text="${item.propertyName}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.dataType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:unless="${inventory != null}" class="mb-5">
        <p>There is no metadata created for this container.</p>
        <p>Please create one by <a th:href="@{${browseDataLink}}" class="link">browsing it's data</a> and selecting the main object
            to track</p>
    </div>

    <h2 class="section-border">Dataset</h2>
    <div th:if="${dataContainer.isMerge()}" class="row mb-5 mt-2">
        <div class="col-md-4">
            <a th:href="@{${rawDataLink}}" target="_blank" class="btn btn-outline-dark d-block w-100">Data Web
                Service</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{${exportExcelUrl}}" class="btn btn-outline-dark d-block w-100">Exportar Excel</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{${exportCsvUrl}}" class="btn btn-outline-dark d-block w-100">Exportar CSV</a>
        </div>
    </div>
    <div th:if="${!dataContainer.isMerge()}" class="row mb-5 mt-2">
        <div class="col-md-6">
            <a th:href="@{${rawDataLink}}" target="_blank" class="btn btn-outline-dark d-block w-100">Data Web
                Service</a>
        </div>
        <div class="col-md-6">
            <a th:href="@{${fileDownloadUrl}}" class="btn btn-outline-dark d-block w-100">Descargar fuente</a>
        </div>
    </div>

    <div class="table-responsive mb-5">
        <table id="dataset-table" class="table hover">
            <thead class="thead-dark">
            <tr>
                <th th:each="column : ${dataContainer.metadata}"
                    th:text="${column.name != null ? column.name : column.propertyName}"></th>
            </tr>
            </thead>
        </table>
    </div>

</div>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const dataTablesEndPoint = /*[[${dataTablesEndPoint}]]*/ '';
    const columnsData = /*[[${dataContainer.metadata}]]*/ [];

    /*]]>*/

    $(document).ready(function () {
        // Get column names from metadata
        const columnNames = columnsData.map(column => {
            return {
                data: column.propertyName
            }
        });

        // Create data table
        $.fn.dataTable.ext.errMode = 'none';
        const table = $('#dataset-table').DataTable({
            "sAjaxSource": dataTablesEndPoint,
            "sAjaxDataProp": "",
            "columns": columnNames,
            "dom": 'lBfrtip',
            "buttons": [
                'csv', 'excel', 'pdf', 'print'
            ]
        })
    });
</script>
</body>
</html>