<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Data containers')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">


    <div class="row mt-3">
        <div class="col-12">
            <h1>New container</h1>
            <p>Select container type</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6">
            <a th:href="@{${excelTypeUrl}}" class="container-type-btn excel-container">
                <div class="row">
                    <div class="col-3 type-icon">
                        <img th:src="@{/static/assets/icons/excel.png}" alt="excel">
                    </div>
                    <div class="col-9">
                        <h1>Upload an Excel Workbook</h1>
                        <ul>
                            <li>When your data set does not change often</li>
                            <li>The data is already in this format</li>
                            <li>Metadata can be added easily in another sheet using our format</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0">
            <a th:href="@{${restTypeUrl}}" class="container-type-btn rest-container">
                <div class="row">
                    <div class="col-3 type-icon">
                        <img th:src="@{/static/assets/icons/api.png}" alt="REST API">
                    </div>
                    <div class="col-9">
                        <h1>Register a REST API endpoint</h1>
                        <ul>
                            <li>Already existing REST APIs</li>
                            <li>Constantly changing data</li>
                            <li>A data browser is provided to select only the one that requires tracking</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>