<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Nuevo join')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3">
        <div class="col-12">
            <h1>Nuevo join</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form th:action="${formUrl}" th:object="${joinForm}" method="post">

                <div class="form-group">
                    <label for="nameInput">Nombre</label>
                    <input type="text" th:field="*{name}" class="form-control" id="nameInput" placeholder="Nuevo nombre de recurso" name="name" required>
                </div>

                <div class="row mb-1">
                    <div class="col-12 mt-3">
                        <p>Cada condición consiste en seleccionar dos recursos con las propiedades que se desea combinar.</p>
                    </div>
                </div>

                <div id="conditions">
                    <div class="row condition-container mt-1">
                        <div class="col-md-5 table-selector" id="leftGroup-0">
                            <div class="form-group">
                                <label>Recurso</label>
                                <select class="form-control leftTableName"
                                        th:field="*{joinPairs[__${0}__].leftContainerId}" required>
                                    <option th:each="container : ${containers}" th:value="${container.id}"
                                            th:text="${container.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Columna</label>
                                <select class="form-control leftTableProp"
                                        th:field="*{joinPairs[__${0}__].leftContainerProperty}" required>
                                    <option th:each="metadata : ${containers[0].metadata}" th:value="${metadata.propertyName}"
                                            th:text="${metadata.propertyName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 condition-equal">
                            <img th:src="@{/assets/icons/equals-symbol.png}" alt="">
                        </div>
                        <div class="col-md-5 table-selector" id="rightGroup-0">
                            <div class="form-group">
                                <label>Recurso</label>
                                <select class="form-control rightTableName"
                                        th:field="*{joinPairs[__${0}__].rightContainerId}" required>
                                    <option th:each="container : ${containers}" th:value="${container.id}"
                                            th:text="${container.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Columna</label>
                                <select class="form-control rightTableProp"
                                        th:field="*{joinPairs[__${0}__].rightContainerProperty}" required>
                                    <option th:each="metadata : ${containers[0].metadata}" th:value="${metadata.propertyName}"
                                            th:text="${metadata.propertyName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" id="addContition">Agregar condición</button>

                <div class="text-lg-right mt-3 mb-4">
                    <button type="submit" class="btn btn-success d-lg-inline d-block submit-btn">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const containers = /*[[${containers}]]*/ [];

    /*]]>*/

    const populateTableProperties = (sectionName, element) => {
        const containerId = element.value;
        const parentId = element.parentElement.parentElement.id;
        const propSelect = $(`#${parentId} ${sectionName}`);
        // Get the selected container
        const selectedContainer = containers.find(container => container.id === containerId);
        // Remove current options from select
        propSelect.empty()
        // Populate prop select with its property names from the metadata
        selectedContainer.metadata.forEach(metadata => {
            let optionElement = $("<option></option>");
            optionElement.val(metadata.propertyName);
            optionElement.text(metadata.propertyName);
            optionElement.appendTo(propSelect);
        })
    }

    $("#conditions").on('change', '.leftTableName', function () {
        populateTableProperties(".leftTableProp", this);
    })

    $("#conditions").on('change', '.rightTableName', function () {
        populateTableProperties(".rightTableProp", this);
    })

    $("#addContition").click(function () {
        $("#conditions .condition-container:last").clone().find(".table-selector").each(function () {
            let currentId;
            // Increment parent id
            $(this).attr('id', function(_, id) {
                let containerName = id.split('-')[0];
                currentId = parseInt(id.split('-')[1], 10);
                return `${containerName}-${currentId + 1}`;
            });
            // Edit select inputs
            $(this).find('select').each(function () {
                console.log(currentId);
                $(this).attr('id', function(_, id) {
                    let leftPart = id.split(`${currentId}`)[0];
                    let rightPart = id.split(`${currentId}`)[1];
                    return `${leftPart}${currentId + 1}${rightPart}`;
                });

                $(this).attr('name', function(_, name) {
                    let leftPart = name.split(`${currentId}`)[0];
                    let rightPart = name.split(`${currentId}`)[1];
                    return `${leftPart}${currentId + 1}${rightPart}`;
                });
            });
        }).end().appendTo("#conditions");
    });

</script>
</body>
</html>