<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Merged containers')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3">
        <div class="col-md-9">
            <h1>Uniones</h1>
        </div>
        <div class="col-md-3 text-right pt-1">
            <a th:href="@{${newMergeLink}}" class="btn-icon add-container-btn btn btn-success">
                <i class="material-icons">add</i>
                Nueva unión
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mergedContainer : ${mergedContainers}">
                <td><a th:href="@{|/container/${mergedContainer.id}|}" th:text="${mergedContainer.id}"></a></td>
                <td th:text="${mergedContainer.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>