<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Recursos combinados')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <div th:replace="layout :: flash"></div>

    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <h1>Recursos combinados</h1>
        </div>
        <div class="col-md-6 text-right pt-1">
            <a th:href="@{${newJoinLink}}" class="btn-icon add-container-btn btn btn-success mr-md-2" data-placement="bottom"
               data-toggle="tooltip" data-html="true" title="Combinar dos o más  recursos que tengan algún <b>campo en común</b>">
                <i class="material-icons">add</i>
                Combinar
            </a>
            <a th:href="@{${newUnionLink}}" class="btn-icon add-container-btn btn btn-success" data-placement="bottom"
               data-toggle="tooltip" data-html="true" title="Unir dos o más  recursos que tengan la <b>misma estructura</b>">
                <i class="material-icons">add</i>
                Unir
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="table-container">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"># datos</th>
                <th scope="col">Origen</th>
                <th scope="col">URL</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dataContainer : ${dataContainers}">
                <td th:text="${dataContainer.name}"></td>
                <td th:text="${dataContainer.dataCount}"></td>
                <td th:text="${dataContainer.originType}"></td>
                <td><a th:href="${dataContainer.sourceUrl}" th:text="${dataContainer.sourceUrl}" class="link"
                       target="_blank"></a></td>
                <td class="text-right">
                    <a href="" class="btn btn-icon btn-table edit-color" data-toggle="tooltip" data-placement="left"
                       title="Editar"
                       th:href="@{|/container/edit/${dataContainer.id}|}">
                        <i class="material-icons">create</i>
                    </a>
                    <span data-toggle="tooltip" data-placement="left" title="Eliminar">
                    <button type="button" class="btn btn-icon btn-table delete-color btn-delete" data-toggle="modal"
                            data-target="#delete-modal" th:data-name="${dataContainer.name}"
                            th:data-id="${dataContainer.id}">
                        <i class="material-icons">delete</i>
                    </button>
                    </span>
                    <a href="" class="btn btn-icon btn-table visualize-color" data-toggle="tooltip"
                       data-placement="left" title="Visualizar"
                       th:href="@{|/container/${dataContainer.id}|}">
                        <i class="material-icons">search</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar recurso?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Estás seguro que deseas borrar el recurso <span id="dataset-name"
                                                                       class="font-weight-bold"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="" id="modal-delete-button" class="btn btn-primary text-white">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const contextPath = /*[[${contextPath}]]*/ '';

    /*]]>*/

    $(".btn-delete").click(function () {
        const selectedId = $(this).data("id");
        const selectedName = $(this).data("name");
        $("#modal-delete-button").attr("href", `${contextPath}/container/${selectedId}/remove?redirect=merge`);
        $("#dataset-name").text(selectedName);
    });
</script>
</body>
</html>