/* Base styles */

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;

}

.section-border {
    border-bottom: 1px solid rgba(190,190,190,.5);
    margin-bottom: 16px;
    padding-bottom: 4px;
}

.info-item {
    width: 100%;
    font-size: .8em;
    font-weight: bold;
    color: rgba(0,0,0,.5);
}

.info-item span {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    font-size: 1.7em;
    font-weight: normal;
    color: black;
}

.btn-icon i {
    vertical-align: middle;
}

.submit-btn {
    width: 100%;
}

.flash p {
    display: block;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.flash i {
    vertical-align: middle;
    font-size: 15px;
}

.flash .failure {
    background-color: firebrick;
}

.flash .success {
    background-color: rgb(46,125,50);
}

/* Containers browser page */
.add-container-btn i {
    font-size: 15px;
}

/* Data browser page */

.main-data-form {
    text-align: right;
    display: inline-block;
}

.data-tree-controls i {
    vertical-align: middle;
}

.data-tree-controls p {
    width: calc(100% - 109px);
    text-align: left;
    opacity: .9 !important;
}

/* Select container type page */
.container-type-btn {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 16px 12px;
    border: 1px solid rgba(150,150,150,.8);
    border-top: none;
    border-left: none;
    transition: all 1s;
    color: #3f5c6c;
}

.container-type-btn:hover {
    color: #1f2e36;
    text-decoration: none;
    box-shadow: 7px 7px 4px -2px rgba(0,0,0,.2);
}

.container-type-btn h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.container-type-btn ul {
    font-size: 1em;
    padding-left: 23px;
}

.container-type-btn img {
    width: 100%;
    margin-top: 20px;
}

.excel-container li, .rest-container li {
    list-style: square;
}

.excel-container {
    margin: 0 auto 0 0;
    border-color: rgb(46,125,50);
    background-color: rgba(46,125,50,.3);
}

.rest-container {
    margin: 0 0 0 auto;
    border-color: rgb(176,211,240);
    background-color: rgba(176,211,240,.3);
}

/* Container page */

.container-active, .container-inactive {
    margin-top: 10px;
}

.container-active i, .container-inactive i {
    vertical-align: middle;
}

.container-active {
    color: rgba(92,184,92, 0.54);
}

.container-inactive {
    color: rgba(50,50,50, 0.26);
}

/* Media queries */
@media (min-width: 992px) {
    /* Data browser page */
}

@media (min-width: 992px) {
    .submit-btn {
        width: auto;
    }

    .excel-container {
        margin: 0 auto 0 0;
    }

    .rest-container {
        margin: 0 0 0 auto;
    }
}