<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Data containers')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Data count</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dataContainer : ${dataContainers}">
                <td><a th:href="@{|/container/${dataContainer.id}|}" th:text="${dataContainer.id}"></a></td>
                <td th:text="${dataContainer.name}"></td>
                <td th:text="${dataContainer.dataCount}"></td>
                <td><a th:href="${dataContainer.sourceUrl}" th:text="${dataContainer.sourceUrl}"></a></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>