<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${dataContainer.name})"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">
    <h1 th:text="${dataContainer.name}"></h1>
    <h4 th:text="|ID: ${dataContainer.id}|"></h4>

    <div class="data-tree-controls">
        <p th:text="${currentTree}"></p>
        <a th:if="${previousTreeUrl}" th:href="@{${containerUrl}(tree=${previousTreeUrl},navigating=true)}" class="btn-outline-primary btn">Back</a>
        <form th:action="${selectMainDataUrl}" method="post">
            <input type="hidden" id="tree" name="tree" th:value="${currentTree}">
            <button type="submit" class="btn btn-primary">Select this data as the main data</button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Property name</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${dataProperties}" th:class="${#strings.contains(property.getValue(), 'Object')} ? 'table-primary' : ''">
                <td th:if="${#strings.contains(property.getValue(), 'Object')}">
                    <a th:href="@{${containerUrl}(tree=${currentTree + property.getKey()},navigating=true)}" th:text="${property.getKey()}"></a>
                </td>
                <td th:unless="${#strings.contains(property.getValue(), 'Object')}" th:text="${property.getKey()}"></td>
                <td th:text="${property.getValue()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>